[audio]
bgm=sound_effects/menu_converted.bcstm
sfx.cursor=sound_effects/grenade_converted.bcwav
sfx.folder=sound_effects/grenade_converted.bcwav
sfx.launch=sound_effects/gogogo_converted.bcwav

[colors]
arrowbuttoncolor.dark=0x425b6e
arrowbuttoncolor.light=0x141b21
arrowbuttoncolor.main=0x182128
arrowbuttoncolor.shadow=0x000000ff
arrowcolor.border=0x182128
arrowcolor.pressed=0x5a7995
arrowcolor.unpressed=0x739bbf
bottomcornerbuttoncolor.dark=0x141b21
bottomcornerbuttoncolor.iconlight=0x5a7995
bottomcornerbuttoncolor.iconmain=0x739bbf
bottomcornerbuttoncolor.icontextmain=0x000000
bottomcornerbuttoncolor.light=0x425b6e
bottomcornerbuttoncolor.main=0x182128
bottomcornerbuttoncolor.shadow=0x000000
close.dark=0x752a2b
close.glow=0x000000
close.light=0xa83c3e
close.main=0x752a2b
close.shadow=0x000000ff
close.textmain=0xffe6e6
close.textselected=0xffe6e6
close.textshadow=0xffe6e6
close.textshadowpos=0
cursorcolor.dark=0xffffff
cursorcolor.glow=0xffffff
cursorcolor.light=0xffffff
cursorcolor.main=0xffffff
demotextcolor.main=0xfff000
demotextcolor.textmain=0x000000
filecolor.dark=0x000000
filecolor.light=0xff0000
filecolor.main=0x820000
filecolor.shadow=0x434343ff
folderarrowcolor.dark=0x425b6e
folderarrowcolor.glow=0x000000
folderarrowcolor.light=0x425b6e
folderarrowcolor.main=0x182128
folderarrowcolor.shadow=0x000000ff
folderarrowcolor.textmain=0x739bbf
folderarrowcolor.textselected=0x739bbf
folderarrowcolor.textshadow=0x1e2832
folderarrowcolor.textshadowpos=0
folderbgcolor.dark=0xffffff
folderbgcolor.light=0x000000
folderbgcolor.main=0x2a343e
folderbgcolor.shadow=0x000000ff
foldercolor.dark=0x463211
foldercolor.light=0xe4c144
foldercolor.main=0xbd9033
foldercolor.shadow=0x000000
gametext.light=0x000000
gametext.main=0x1e2832
gametext.shadow=0x000000ff
gametext.textmain=0x739bbf
open.dark=0x297448
open.glow=0x000000
open.light=0x3aa466
open.main=0x297448
open.shadow=0x000000ff
open.textmain=0xd1ffe4
open.textselected=0xd1ffe4
open.textshadow=0xd1ffe4
open.textshadowpos=0
topcornerbuttoncolor.light=0x000000
topcornerbuttoncolor.main=0x191919
topcornerbuttoncolor.shadow=0x191919
topcornerbuttoncolor.textmain=0x7c7c7c

[frames]
bottom.frame=single
bottom.type=texture
top.frame=single
top.type=texture

[info]
cero=32
icon=theme_icons/icon_large.png
longtitle=CS:GO Classic (old version from 2017)
publisher=TheRake66
shorttitle=CS:GO Classic
smallicon=theme_icons/icon_small.png

[kame-editor]
deploy=../CS:GO Classic.zip

[textures]
bottom.image=texture_assets/screen_bottom.png
filelarge.image=texture_assets/tile_large.png
filesmall.image=texture_assets/tile_small.png
folderclose.image=texture_assets/folder_closed.png
folderopen.image=texture_assets/folder_opened.png
top.image=texture_assets/screen_top.png
